<a href="https://colab.research.google.com/github/regiiis/nn_windfarm/blob/main/nn_windfarm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

Not connected to a GPU

In [2]:
import pandas as pd

In [7]:
url_wind_dir = 'https://raw.githubusercontent.com/regiiis/nn_windfarm/main/data/wind_dir.csv?token=GHSAT0AAAAAABYCKC2E2TWC7VJBTCIQDRQGYYI2A3Q'
url_farm = 'https://raw.githubusercontent.com/regiiis/nn_windfarm/main/data/windfarm.csv?token=GHSAT0AAAAAABYCKC2F5VK762MYJY5LGLT2YYI2BVA'
wind_dir = pd.read_csv(url_wind_dir)
wind_v = pd.read_csv(url_farm)
# merge two dataframes
df = wind_dir.merge(wind_v, left_on='Unnamed: 0', right_on='Unnamed: 0')

In [12]:
# Wind Direction Analysis

# Drop columns with inconsistent wind_dir records
# Get mean wind direction per angle, between average of 80.0 and 100.0. Group wind_dir by steps of 10.
# Rename numerical titles
df_main = df.drop(columns = ['10.0'])
df_main = df_main.drop(columns = ['40.0'])
df_main = df_main.drop(columns = ['60.0'])
#df1['wind_dir'] = ((df1['80.0'] + df1['100.0'])/2).round(0)
df_main['80.0'] = df_main['80.0'].round(0)
df_main['100.0'] = df_main['100.0'].round(0)
df_main = df_main.rename(columns={'80.0': 'eighty', '100.0': 'hundred'})
df_main.head(4)

,Unnamed: 0,eighty,hundred,WTG1,WTG2,WTG3,WTG4,WTG5,WTG6,WTG7,...,WTG23,WTG24,WTG25,WTG26,WTG27,WTG28,WTG29,WTG30,WTG31,WTG32
0,2013-08-01 00:00:00,111.0,113.0,11.3,12.4,10.4,9.8,9.9,10.5,11.4,...,13.4,12.5,12.2,12.6,12.5,12.8,13.8,12.9,12.4,8.9
1,2013-08-01 00:10:00,113.0,116.0,11.6,11.9,10.4,10.7,10.6,10.7,12.0,...,12.7,13.0,12.5,14.4,12.4,12.8,13.4,13.1,13.2,9.8
2,2013-08-01 00:20:00,110.0,112.0,11.8,12.5,10.8,10.6,10.4,10.5,11.9,...,12.2,12.1,11.7,12.2,12.0,12.2,13.2,12.4,12.3,8.7
3,2013-08-01 00:30:00,113.0,116.0,11.7,11.6,10.6,10.4,10.1,10.3,11.7,...,12.8,13.2,10.9,12.4,12.3,12.3,12.4,11.8,10.5,8.6